// from handlebars lesson…
$dark-green: #236167;
$light-green: #2c8d3d;
$purpleish: #68979b;
// Alec's mixes…
$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$cyan: #0ff;
