$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Aldrich|Fredoka+One|Monoton|Varela+Round|Roboto|Audiowide');

// Alec's mixes…
$rainbow-yellow: #fbde84;
$red-muted: rgb(246, 65, 84);
$green-muted: rgb(119, 210, 131);
$blue-muted: rgb(112, 115, 255);
$yellow-muted: rgb(255, 230, 100);
$orange-muted: rgb(255, 150, 0);
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$yellow-amped: rgb(255, 242, 0);
$yellow: #ff0;

main {
  margin: 0 auto;
  width: 100%;
}

header {
  // display: fixed;
  margin: 0 auto;
  overflow: auto;
  padding: 8px;
  position: relative;
  width: 80%;
}

.radtabs-heading {
  color: $green-muted;
  float: left;
  font-family: 'Audiowide', sans-serif;
  font-size: 42px;
  margin: 0 20px -10px 5px;
  position: relative;
  right: 8px;
  text-transform: uppercase;

  & .tabs-heading {
    color: $blue-muted;
  }
}

.radtabs-text {
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  position: relative;
  top: 8px;

  & .first-sentence {
    color: $red-muted;
    font-size: 24px;
  }
}

.nav-bar,
.intro-bar {
  // align-content: center; Note: this property has no effect when there is only one line of flex items.
  background-color: $orange-muted;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1%;
  max-height: 60px;
  overflow: auto;
  padding: 8px;
  position: relative;
  width: 80%;
}

// Various button styles…
.nav-button,
.form-button,
.new-tab-form-button,
.update-tab-form-button,
.delete-tab-form-button {
  background-color: $yellow-muted;
  border: 0;
  border-radius: 5px;
  color: $lines-brown;
  display: inline;
  flex-grow: 1;
  font-family: 'Audiowide', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0 8px 10px;
  max-height: 60px;
  max-width: 80%;
  padding: 3px 12px;
  position: relative;
  text-transform: uppercase;
  top: 4px;

  &.form-button,
  &.new-tab-form-button,
  &.update-tab-form-button,
  &.delete-tab-form-button {
    display: block;
    font-family: 'Varela Round', sans-serif;
    margin: 10px auto;
    max-width: 100%;
    padding: 3px 7px;

    &.new-tab-form-button {
      background-color: $green-muted;
      color: $cloud-white;
    }

    &.update-tab-form-button {
      background-color: $blue-muted;
      color: $cloud-white;
    }

    &.delete-tab-form-button {
      background-color: $red-muted;
      color: $cloud-white;
    }
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $yellow-amped;
  }
}

.info-section {
  // background-color: $blue-muted-light;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

table {
  // float: left;
  margin: 0 auto;
  position: relative;
  vertical-align: top;
  width: 80%;
}

th {
  color: $green-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bold;
  max-width: 80px;
  padding: 5px 20px;
  pointer-events: none;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  // user-select: none;
}

td {
  color: $lines-brown;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  // max-height: 20px;
  max-width: 80px;
  overflow: hidden;
  padding: 2px 20px;
  position: relative;
  text-align: right;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  z-index: 1;
}

.modify-tab-button {
  background-color: $blue-muted;
  border-radius: 5px;
  color: $cloud-white;
  // cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  height: 20px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

.modal-title {
  color: $orange-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.modal-title-green {
    color: $green-muted;
  }

  &.modal-title-red {
    color: $red-muted;
  }
}

input { // form input fields
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  margin: 2% 5%;
  width: 90%;
}

.modal-content {
  padding: 3%;
}

.credits {
  color: $green-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
