$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Aldrich|Fredoka+One|Monoton|Varela+Round|Roboto|Audiowide');

// Alec's mixes…
$rainbow-yellow: #fbde84;
$red-muted: rgb(246, 65, 84);
$green-muted: rgb(119, 210, 131);
$blue-muted: rgb(112, 115, 255);
// $yellow-muted: rgb(255, 230, 100); // Original RGB version
$yellow-muted: #ffe664; // Hex version for jQuery
$orange-muted: rgb(255, 150, 0);
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;

$red-amped: rgb(255, 38, 61);
$green-amped: rgb(36, 214, 60);
$blue-amped: rgb(38, 41, 255);
// $yellow-amped: rgb(255, 242, 0); // Original RGB version
$yellow-amped: #fff200; // Hex version for jQuery
$yellow: #ff0;
$pale-blue: rgb(219, 255, 254);

main {
  margin: 0 auto;
  width: 100%;
}

header {
  margin: 0 auto;
  position: relative;
  top: 1vh;
  width: 90%;
}

.radtabs-heading {
  // background-color: $pale-blue;
  bottom: 8px;
  color: $green-muted;
  float: left;
  font-family: 'Audiowide', sans-serif;
  font-size: 42px;
  margin: 0 3% 0 0;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  & .tabs-heading {
    color: $blue-muted;
  }
}

.first-sentence {
  // background-color: $pale-blue;
  color: $red-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  position: relative;
}

.radtabs-text {
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  margin-bottom: 2%;
  position: relative;
}

.nav-bar,
.intro-bar {
  // align-content: center; Note: this property has no effect when there is only one line of flex items.
  background-color: $orange-muted;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
  padding: 1%;
  position: relative;
  width: 90%;
}

// Including .view-tabs-button within 'Various Button Styles' selector \
// led to slightly smaller font. Strange.
// .view-tabs-button {
//   background-color: $yellow-muted;
//   border: 0;
//   border-radius: 5px;
//   color: $lines-brown;
//   display: inline;
//   flex-grow: 1;
//   font-family: 'Audiowide', sans-serif;
//   font-size: 16px;
//   letter-spacing: 0;
//   margin: 0 8px 10px;
//   padding: 3px 12px;
//   position: relative;
//   text-transform: uppercase;
//   top: 4px;
// }

// Various Button Styles…
.nav-button,
.form-button,
.new-tab-form-button,
.update-tab-form-button,
.delete-tab-form-button {
  background-color: $yellow-muted;
  border: 0;
  border-radius: 5px;
  color: $lines-brown;
  display: inline;
  flex-grow: 1;
  font-family: 'Audiowide', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0 8px 10px;
  padding: 3px 12px;
  position: relative;
  text-transform: uppercase;
  top: 4px;

  &.form-button,
  &.new-tab-form-button,
  &.update-tab-form-button,
  &.delete-tab-form-button {
    display: block;
    font-family: 'Varela Round', sans-serif;
    margin: 10px auto;
    max-width: 100%;
    padding: 3px 7px;

    &.new-tab-form-button {
      background-color: $green-muted;
      color: $cloud-white;

      &:hover {
        background-color: $green-amped;
      }
    }

    &.update-tab-form-button {
      background-color: $blue-muted;
      color: $cloud-white;

      &:hover {
        background-color: $blue-amped;
      }
    }

    &.delete-tab-form-button {
      background-color: $red-muted;
      color: $cloud-white;

      &:hover {
        background-color: $red-amped;
      }
    }
  }

  &:focus {
    outline: 0;
  }

  &:hover:not(#showHideTabsButton):not(.new-tab-form-button):not(.update-tab-form-button):not(.delete-tab-form-button) {
    background-color: $yellow-amped;
  }
}

.info-section {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

table {
  margin: 0 auto;
  overflow: auto;
  position: relative;
  vertical-align: top;
  width: 90%;
}

th {
  color: $green-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bold;
  max-width: 80px;
  padding: 5px 20px;
  pointer-events: none;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
}

td {
  color: $lines-brown;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  // max-height: 20px;
  max-width: 80px;
  overflow: hidden;
  padding: 2px 15px;
  position: relative;
  text-align: right;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  z-index: 1;
}

.modify-tab-button {
  background-color: $blue-muted;
  border-radius: 5px;
  color: $cloud-white;
  // cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  height: 20px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $blue-amped;
  }
}

.modal-title {
  color: $orange-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.modal-title-green {
    color: $green-muted;
  }

  &.modal-title-red {
    color: $red-muted;
  }
}

input { // form input fields
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  margin: 2% 5%;
  width: 90%;
}

.modal-content {
  padding: 3%;
}

.credits {
  color: $green-muted;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  margin: 5% auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 737px) {
  .nav-bar,
  .intro-bar {
    padding: 5px;
  }

  .nav-button {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .radtabs-heading {
    float: none;
  }

  .first-sentence {
    bottom: 2vh;
    margin: 0 auto;
  }

  .radtabs-text {
    bottom: 2vh;
  }

  th {
    font-size: 16px;
  }

  .notes-th {
    display: none;
  }

  .notes-td {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .nav-bar,
  .intro-bar {
    flex-direction: column;
    padding: 6px;
  }

  th {
    // font-size: 11px;
    max-width: 60px;
    padding: 5px;
  }

  .task-th,
  .time-spent-th,
  .notes-th {
    display: none;
  }

  td {
    max-width: 60px;
    padding: 2px 3px;
  }

  .task-td,
  .time-spent-td,
  .notes-td {
    display: none;
  }

  .nav-button,
  .form-button,
  .new-tab-form-button,
  .update-tab-form-button,
  .delete-tab-form-button {
    flex-grow: 100%;
    margin: 0 auto 3%;
    max-width: 97%;
    width: 100%;
  }

  .radtabs-heading {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .first-sentence {
    bottom: 2vh;
    margin: 0 auto;
    text-align: center;
  }

  .radtabs-text {
    display: none;
  }
}
